{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Memoak</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    </head>

    <body>
    {% include "DocsManageApp/index/navbar_partial.html" %}

    <div class="container-fluid">
        <h1>TunaDocs</h1>
        <button class="btn btn-primary showCreateForm my-2 my-sm-2" data-url="{% url 'createDocument' %}">
            New Document
            <span class="glyphicon glyphicon-plus"></span>
        </button>

        <table class="table" id="documentTable">
            <thead class="thead-dark">
                <tr>
                    <th>DocumentID</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>url</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                    {% include "DocsManageApp/readDocument.html" %}
            </tbody>
        </table>

        <div class="modal fade" id="modalForMemoak">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Heading</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>

                <div class="modal-body">
                </div>
        
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src= "{% static 'docsManageApp.js' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>