{% for document in  documents %}
<tr>
    <td>{{ document.id }}</td>
    <td>{{ document.category }}</td>
    <td>{{ document.content }}</td>
    <td>{{ document.url}}</td>
    <td>  
        <button class="btn btn-warning showUpdateForm" data-url="{% url 'updateDocument' document.id %}">
        <span class="glyphicon glyphicon-pencil"></span>
            Edit 
        </button>
    </td>
    <td>  
        <button class="btn btn-danger showDeleteForm" data-url="{% url 'deleteDocument' document.id %}">
        <span class="glyphicon glyphicon-trash"></span>
            Delete 
        </button>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="7" class="text-center bg-warning">
        empty document!
    </td>
</tr>
{% endfor %}
